openapi: 3.1.0

info:
  title: PSOS Blind GitHub Bridge
  version: 1.0.1
  description: >-
    Narrow GitHub access for PSOS Blind. This action is intentionally hard-wired
    to sarecury-lgtm/prompt-system-lab and the experimental
    codex/problem-solving-os-next-loop branch. It can read repository contents
    and create non-forced commits on that branch. It exposes no delete, merge,
    branch-create, release, issue, or workflow-dispatch operation.

servers:
  - url: https://api.github.com

components:
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer

  schemas:
    BlobInput:
      type: object
      additionalProperties: false
      required:
        - content
        - encoding
      properties:
        content:
          type: string
          description: Complete UTF-8 contents of one file.
        encoding:
          type: string
          enum:
            - utf-8
          default: utf-8

    TreeEntry:
      type: object
      additionalProperties: false
      required:
        - path
        - mode
        - type
        - sha
      properties:
        path:
          type: string
          minLength: 1
          description: Repository-relative path. Never use .github/workflows/.
        mode:
          type: string
          enum:
            - "100644"
            - "100755"
        type:
          type: string
          enum:
            - blob
        sha:
          type: string
          minLength: 40
          maxLength: 64
          description: >-
            Blob SHA returned by createPsosBlob. Null is intentionally
            disallowed so this action cannot delete files.

    TreeInput:
      type: object
      additionalProperties: false
      required:
        - base_tree
        - tree
      properties:
        base_tree:
          type: string
          minLength: 40
          maxLength: 64
          description: Tree SHA from the current branch head commit.
        tree:
          type: array
          minItems: 1
          maxItems: 20
          items:
            $ref: "#/components/schemas/TreeEntry"

    CommitInput:
      type: object
      additionalProperties: false
      required:
        - message
        - tree
        - parents
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 300
        tree:
          type: string
          minLength: 40
          maxLength: 64
        parents:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: string
            minLength: 40
            maxLength: 64
          description: >-
            Must contain exactly the current head commit SHA read immediately
            before the write.

    RefUpdateInput:
      type: object
      additionalProperties: false
      required:
        - sha
        - force
      properties:
        sha:
          type: string
          minLength: 40
          maxLength: 64
          description: New commit SHA created by createPsosCommit.
        force:
          type: boolean
          enum:
            - false
          default: false

security:
  - githubBearer: []

paths:

  /repos/sarecury-lgtm/prompt-system-lab/branches/{branch}:
    get:
      operationId: getPsosBranch
      summary: Read the fixed PSOS development branch head
      description: Use this before any write to obtain the current head commit SHA.
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
            enum:
              - codex/problem-solving-os-next-loop
            default: codex/problem-solving-os-next-loop

        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      responses:
        "200":
          description: Branch metadata

  /repos/sarecury-lgtm/prompt-system-lab/contents:
    get:
      operationId: listPsosRoot
      summary: List the repository root on the fixed PSOS branch
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum:
              - codex/problem-solving-os-next-loop
            default: codex/problem-solving-os-next-loop

        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      responses:
        "200":
          description: Root entries

  /repos/sarecury-lgtm/prompt-system-lab/contents/{path}:
    get:
      operationId: getPsosContent
      summary: Read a file or list a directory on the fixed PSOS branch
      description: >-
        Use for ACTIVE_GOAL.json, source files, tests, docs, or directory
        listings before modifying anything.
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
            minLength: 1

        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum:
              - codex/problem-solving-os-next-loop
            default: codex/problem-solving-os-next-loop

        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      responses:
        "200":
          description: GitHub contents response

  /search/code:
    get:
      operationId: searchPsosCode
      summary: Search code only inside prompt-system-lab
      description: >-
        The query must include repo:sarecury-lgtm/prompt-system-lab.
        Prefer exact symbols or filenames.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 5
            pattern: ".*repo:sarecury-lgtm/prompt-system-lab.*"
          example: "PSOSManualProtocol repo:sarecury-lgtm/prompt-system-lab"

        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 10

        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      responses:
        "200":
          description: Code search results

  /repos/sarecury-lgtm/prompt-system-lab/git/commits/{commit_sha}:
    get:
      operationId: getPsosGitCommit
      summary: Read a Git commit to obtain its tree SHA
      parameters:
        - name: commit_sha
          in: path
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 64

        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      responses:
        "200":
          description: Git commit object

  /repos/sarecury-lgtm/prompt-system-lab/git/blobs:
    post:
      operationId: createPsosBlob
      summary: Create a UTF-8 blob for a file change
      description: >-
        Creates content only; it does not change the branch until the later
        tree, commit, and non-forced ref update steps succeed.
      parameters:
        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlobInput"

      responses:
        "201":
          description: Created blob

  /repos/sarecury-lgtm/prompt-system-lab/git/trees:
    post:
      operationId: createPsosTree
      summary: Build a new tree from the current branch tree and created blobs
      description: >-
        All entries require a non-null blob SHA, so this action cannot express
        deletion.
      parameters:
        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TreeInput"

      responses:
        "201":
          description: Created tree

  /repos/sarecury-lgtm/prompt-system-lab/git/commits:
    post:
      operationId: createPsosCommit
      summary: Create a commit whose sole parent is the current fixed-branch head
      parameters:
        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitInput"

      responses:
        "201":
          description: Created commit

  /repos/sarecury-lgtm/prompt-system-lab/git/refs/heads/codex/problem-solving-os-next-loop:
    patch:
      operationId: advancePsosBranch
      summary: Advance only the fixed PSOS development branch without force
      description: >-
        This is the only ref-changing operation in the action. force is fixed
        to false.
      parameters:
        - name: X-GitHub-Api-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - "2026-03-10"
            default: "2026-03-10"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefUpdateInput"

      responses:
        "200":
          description: Updated branch ref
        "409":
          description: >-
            Branch moved or update conflicted. Refetch the branch and do not
            force.
